.beerPage {
  padding: 20px 15px;
}

.beerPage_title_AND_3d_button {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.beerPage_title {
  margin-left: 15px;
}


@media (max-width: 501px) {
  .beerPage_title_AND_3d_button {
    justify-content: center;
    transform: translateX(-15px);
  }
  .beerPage_title{
    font-size: 35px;
  }
}
