html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #ff9100;
  font-weight: normal;
  font-style: normal;
}

body {
  padding-left: 261px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  max-width: 1111px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.navBar_container {
  max-width: 300px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

/* fonts */
@font-face {
  font-family: "Lobster";
  src: url("fonts/Lobster-Regular.eot");
  src: local("☺"), url("fonts/Lobster-Regular.woff") format("woff"),
    url("fonts/Lobster-Regular.ttf") format("truetype"),
    url("fonts/Lobster-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Roboto-Light";
  src: url("fonts/Roboto-Light.eot");
  src: local("☺"), url("fonts/Roboto-Light.woff") format("woff"),
    url("fonts/Roboto-Light.ttf") format("truetype"),
    url("fonts/Roboto-Light.svg") format("svg");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.eot");
  src: local("☺"), url("fonts/Roboto-Regular.woff") format("woff"),
    url("fonts/Roboto-Regular.ttf") format("truetype"),
    url("fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.eot");
  src: local("☺"), url("fonts/Roboto-Medium.woff") format("woff"),
    url("fonts/Roboto-Medium.ttf") format("truetype"),
    url("fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.eot");
  src: local("☺"), url("fonts/Roboto-Bold.woff") format("woff"),
    url("fonts/Roboto-Bold.ttf") format("truetype"),
    url("fonts/Roboto-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

#root {
  height: 100%;
}

.white_bg_and_border_radius {
  background-color: #ffffff;
  border-radius: 40px;
}

.beer_title {
  text-align: center;
  font-weight: lighter;
  font-size: 19px;
  margin-bottom: 5px;
}

@media (max-width: 824px) {
  body {
    padding: 0;
  }
}

@media (max-width: 461px) {
  .beer_title {
    font-size: 17px;
  }
}
