html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #ff9100;
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1111px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.navBar_container {
  max-width: 300px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

/* fonts */
@font-face {
  font-family: "Lobster";
  src: url("fonts/Lobster-Regular.eot");
  src: local("☺"), url("fonts/Lobster-Regular.woff") format("woff"),
    url("fonts/Lobster-Regular.ttf") format("truetype"),
    url("fonts/Lobster-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.eot");
  src: local("☺"), url("fonts/Roboto-Regular.woff") format("woff"),
    url("fonts/Roboto-Regular.ttf") format("truetype"),
    url("fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.eot");
  src: local("☺"), url("fonts/Roboto-Medium.woff") format("woff"),
    url("fonts/Roboto-Medium.ttf") format("truetype"),
    url("fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.eot");
  src: local("☺"), url("fonts/Roboto-Bold.woff") format("woff"),
    url("fonts/Roboto-Bold.ttf") format("truetype"),
    url("fonts/Roboto-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* header */
header {
  background-color: #da7b00;

  width: 100%;
  padding: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  display: flex;
  cursor: pointer;
}

h1,
h2 {
  font-family: Lobster, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  font-size: 37px;
  transform: translateY(4px);
}

.header_title img {
  margin-left: 8px;
  width: 60px;
  transform: translateY(-7px);
}

.header_searchbar_And_logIn_SignUp {
  width: 40%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
}
.header_searchbar_item {
  font-family: roboto, sans-serif;
  padding: 13px 23px 13px 33px;
  border-radius: 20px;

  border: 0;
  outline: none;
}

.header_searchbar_item::placeholder {
  opacity: 0.5;
}

.search_icon {
  position: absolute;
  width: 11px;
  left: 12px;
  top: 15px;
  transform: rotate(90deg);
  opacity: 0.5;
}

.logIn_SignUp {
  transform: translateX(-10px);
}
.logIn_SignUp a {
  text-decoration: none;
  color: white;
}
.logIn_SignUp a:hover {
  text-decoration: underline;
}

/* main */
.rating_title {
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.rating_title_item {
  background-color: white;
  color: #ff9100;
  padding: 8px 0 8px 3px;
  border-right: 3px solid #ff9100;
  margin-bottom: 10px;
}
.rating_title_item:nth-of-type(1) {
  text-align: center;
  border-radius: 8px 0 0 8px;
  width: 10%;
}
.rating_title_item:nth-of-type(2) {
  width: 40%;
}
.rating_title_item:nth-of-type(3) {
  width: 30%;
}
.rating_title_item:nth-of-type(4) {
  border-radius: 0 8px 8px 0px;
  width: 20%;
  border: 0;
}

/* Rating */
.rating_item {
  display: flex;
  border-radius: 8px 8px;
  background-color: rgba(255, 255, 255, 0.8);

  margin-bottom: 10px;

  transition: 0.2s ease-in-out;
}

.rating_item:hover {
  background-color: rgba(255, 255, 255, 1);
}

.rating_item_inner {
  padding: 8px 0 8px 3px;
  border-right: 3px solid #ff9100;
  cursor: pointer;
}

.rating_item_inner:nth-of-type(1) {
  text-align: center;
  width: 10%;
}
.rating_item_inner:nth-of-type(2) {
  width: 40%;
}
.rating_item_inner:nth-of-type(3) {
  width: 30%;
}
.rating_item_inner:nth-of-type(4) {
  display: flex;
  justify-content: center;
  border: 0;
  width: 20%;
}

.rating_star {
  width: 13px;
  margin-right: 3px;
}
.rating_star:last-child {
  margin: 0;
}

/* nav */
nav {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.nav_header {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 10px;
}

.navBar_main_bgcolor {
  background-color: #ff9100;
  height: 100%;
}

.navBar_main {
  padding: 70px 40px 0 40px;
  height: 100%;
}

.navBar_main ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navBar_main li {
  margin-bottom: 34px;
}
.navBar_main li:last-child {
  margin-bottom: 64px;
}
.navBar_main a,
span {
  text-decoration: none;
  color: white;
}

.navBar_main a:hover {
  text-decoration: underline;
}

.languages {
  display: flex;
  justify-content: space-between;
}
.languages button {
  cursor: pointer;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  border-radius: 20px;
  border: 1px solid #ffffff;

  transition: 0.2s ease-in-out;
}

.languages button:hover {
  background-color: #ffffff;
  color: #ff9100;
}
