.beer_comment {
  display: flex;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;

  border-radius: 45px;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.beer_comment_img {
  position: relative;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: chartreuse;
  overflow: hidden;

  margin-right: 10px;
}

.beer_comment_img img {
  position: absolute;
  height: 50px;
}

.user_nickName_And_user_comment {
  width: 100%;
}

.user_nickName {
  margin-bottom: 6px;
}

@media (max-width: 461px) {
  .user_nickName,
  .user_comment {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .user_nickName,
  .user_comment {
    font-size: 10px;
  }
  .beer_comment_img,
  .beer_comment_img img {
    height: 30px;
    min-width: 30px;
  }
}
